<div class="dimmer-modal" id="dimmer-modal" style="display:none">
  <div class="dimmer-content">
    <div class="dimmer-header">
      <div class="dimmer-name" id="dimmer-name"></div>
      <button class="dimmer-close" id="dimmer-close-btn" aria-label="Close">✕</button>
    </div>
    <div class="dimmer-body">
      <div class="dimmer-left" id="dimmer-left"></div>
      <div class="dimmer-slider-wrap">
        <div class="dimmer-track" id="dimmer-track">
          <div class="dimmer-fill" id="dimmer-fill"></div>
        </div>
      </div>
      <div class="dimmer-right">
        <div class="dimmer-icon" id="dimmer-icon"></div>
        <div class="dimmer-pct" id="dimmer-pct">0%</div>
      </div>
    </div>
  </div>
</div>
